annotated-types==0.7.0
colorama==0.4.6
confluent-kafka==2.11.0
cramjam==2.10.0
fastparquet==2024.11.0
fsspec==2025.5.1
greenlet==3.2.3
iniconfig==2.1.0
kafka-python==2.2.15
numpy==2.3.1
packaging==25.0
pandas==2.3.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pyarrow==20.0.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.41
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2